<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Data_table_team</servlet-name>
        <servlet-class>com.basher.utility.team.Data_table_team</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_About</servlet-name>
        <servlet-class>com.basher.controller.Controller_About</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Data_table_about</servlet-name>
        <servlet-class>com.basher.utility.Data_table_about</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Data_table_home</servlet-name>
        <servlet-class>com.basher.utility.Data_table_home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Data_table_gallery</servlet-name>
        <servlet-class>com.basher.utility.gallery.Data_table_gallery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Picture_view</servlet-name>
        <servlet-class>com.basher.utility.Picture_view</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Data_table_services</servlet-name>
        <servlet-class>com.basher.utility.services.Data_table_services</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Data_table_Contact</servlet-name>
        <servlet-class>com.basher.utility.Data_table_Contact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Data_table_Program</servlet-name>
        <servlet-class>com.basher.utility.Data_table_Program</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Data_table_files</servlet-name>
        <servlet-class>com.basher.utility.files.Data_table_files</servlet-class>
    </servlet>
    
    
    <servlet>
        <servlet-name>Data_table_acknowledgement</servlet-name>
        <servlet-class>com.basher.utility.Data_table_acknowledgement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Data_table_About_links</servlet-name>
        <servlet-class>com.basher.utility.Data_table_About_links</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Data_table_Users</servlet-name>
        <servlet-class>com.basher.utility.Data_table_Users</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_About_Link</servlet-name>
        <servlet-class>com.basher.controller.Controller_About_Link</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_Acknowledgemen</servlet-name>
        <servlet-class>com.basher.controller.Controller_Acknowledgement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUpload</servlet-name>
        <servlet-class>com.basher.utility.FileUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUpload_gallery</servlet-name>
        <servlet-class>com.basher.utility.gallery.FileUpload_gallery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUpload_services</servlet-name>
        <servlet-class>com.basher.utility.services.FileUpload_services</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_Contact</servlet-name>
        <servlet-class>com.basher.controller.Controller_Contact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_Program</servlet-name>
        <servlet-class>com.basher.controller.Controller_Program</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_Blog</servlet-name>
        <servlet-class>com.basher.controller.Controller_Blog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Data_table_Blog</servlet-name>
        <servlet-class>com.basher.utility.Data_table_Blog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileDownloadDB</servlet-name>
        <servlet-class>com.basher.utility.files.FileDownloadDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUpload_files</servlet-name>
        <servlet-class>com.basher.utility.files.FileUpload_files</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAboutLinks</servlet-name>
        <servlet-class>com.basher.utility.user.DeleteAboutLinks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>com.basher.utility.user.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAdmin</servlet-name>
        <servlet-class>com.basher.utility.user.UserAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUpload_team</servlet-name>
        <servlet-class>com.basher.utility.team.FileUpload_team</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Data_table_team</servlet-name>
        <url-pattern>/zadmin/Data_table_team</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Data_table_team</servlet-name>
        <url-pattern>/Data_table_team</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Controller_About</servlet-name>
        <url-pattern>/zadmin/Controller_About</url-pattern>
    </servlet-mapping>
    
    
    
    
    <servlet-mapping>
        <servlet-name>Data_table_about</servlet-name>
        <url-pattern>/zadmin/Data_table_about</url-pattern>
    </servlet-mapping>
    
    
    
    
    <servlet-mapping>
        <servlet-name>Data_table_about</servlet-name>
        <url-pattern>/Data_table_about</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Data_table_home</servlet-name>
        <url-pattern>/zadmin/Data_table_home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Data_table_gallery</servlet-name>
        <url-pattern>/zadmin/Data_table_gallery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Picture_view</servlet-name>
        <url-pattern>/zadmin/Picture_view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Picture_view</servlet-name>
        <url-pattern>/Picture_view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Data_table_services</servlet-name>
        <url-pattern>/zadmin/Data_table_services</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Data_table_services</servlet-name>
        <url-pattern>/Data_table_services</url-pattern>
    </servlet-mapping>
    
    
    <servlet-mapping>
        <servlet-name>Data_table_Contact</servlet-name>
        <url-pattern>/zadmin/Data_table_Contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Data_table_Program</servlet-name>
        <url-pattern>/zadmin/Data_table_Program</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Data_table_Program</servlet-name>
        <url-pattern>/Data_table_Program</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Data_table_files</servlet-name>
        <url-pattern>/zadmin/Data_table_files</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Data_table_files</servlet-name>
        <url-pattern>/Data_table_files</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Data_table_acknowledgement</servlet-name>
        <url-pattern>/zadmin/Data_table_acknowledgement</url-pattern>
    </servlet-mapping>
    
    
    <servlet-mapping>
        <servlet-name>Data_table_acknowledgement</servlet-name>
        <url-pattern>/Data_table_acknowledgement</url-pattern>
    </servlet-mapping>
    
    
    <servlet-mapping>
        <servlet-name>Data_table_About_links</servlet-name>
        <url-pattern>/zadmin/Data_table_About_links</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Data_table_Users</servlet-name>
        <url-pattern>/zadmin/Data_table_Users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_About_Link</servlet-name>
        <url-pattern>/zadmin/Controller_About_Link</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_Acknowledgemen</servlet-name>
        <url-pattern>/zadmin/Controller_Acknowledgement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUpload</servlet-name>
        <url-pattern>/zadmin/FileUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUpload_gallery</servlet-name>
        <url-pattern>/zadmin/FileUpload_gallery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUpload_services</servlet-name>
        <url-pattern>/zadmin/FileUpload_services</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_Contact</servlet-name>
        <url-pattern>/zadmin/Controller_Contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_Program</servlet-name>
        <url-pattern>/zadmin/Controller_Program</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_Blog</servlet-name>
        <url-pattern>/zadmin/Controller_Blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Data_table_Blog</servlet-name>
        <url-pattern>/zadmin/Data_table_Blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileDownloadDB</servlet-name>
        <url-pattern>/zadmin/FileDownloadDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileDownloadDB</servlet-name>
        <url-pattern>/FileDownloadDB</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>FileUpload_files</servlet-name>
        <url-pattern>/zadmin/FileUpload_files</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAboutLinks</servlet-name>
        <url-pattern>/zadmin/DeleteAboutLinks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/zadmin/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAdmin</servlet-name>
        <url-pattern>/zadmin/UserAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUpload_team</servlet-name>
        <url-pattern>/zadmin/FileUpload_team</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
